{% extends "components/base.html" %}
{% load static%}
{% block content %}
<header class="text-center ">
    <div class="container py-2 border border-1 shadow rounded bg-info">
      <h1 class="fw-bold text-white text-center">Sistema de Prestamos</h1>
    </div>
  </header>
  
  <main class="container d-flex flex-column py-1 border border-1 shadow rounded bg-white">
    <div class="row ">
      <div class="col-md-12 text-center">
        <img src={% static 'img/portada.jpg' %} class="img-fluid" alt="Imagen de una escuela">
      </div>
    </div>
  </main>
{% endblock content %}